# --- Django core ---
Django==5.0.4
djangorestframework==3.16.1
asgiref==3.7.2
sqlparse==0.5.0
tzdata==2025.1
python-dotenv==1.0.1

# --- Database ---
psycopg[binary]>=3.2.10
psycopg2-binary
pandas
sqlalchemy

# --- AI / LLM ---
google-genai

# --- AI assisstant ---
yfinance

# --- Podcast processing ---
feedparser==6.0.12
requests==2.32.5
faster-whisper

# --- ML / numeric ---
# If you have an NVIDIA GPU, install the CUDA version of PyTorch for faster Whisper transcription:
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu128
torch==2.10.0
numpy==2.4.2
sentence-transformers

# --- dependencies ---
annotated-types==0.7.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
cryptography==46.0.5
google-ai-generativelanguage
google-api-core
google-auth
idna==3.11
pydantic==2.12.5
tqdm==4.67.3
urllib3==2.6.3